{{ 'section-custom-sonang-section.css' | asset_url | stylesheet_tag }}

<div class="sonang">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'title' -%}
        <h2 class="sonang__title">
          {{ block.settings.title }}
        </h2>
      {%- when 'description' -%}
        <div class="sonang__description">
          <p>{{ block.settings.description }}</p>
          <button class="button button-floating" data-btn-more="less">Show More</button>
        </div>
    {%- endcase -%}
  {%- endfor -%}

  <div class="sonang__img">
    {{
      section.settings.hero | image_url: width: 300 | image_tag
    }}
  </div>
</div>

<script src="{{ 'sonang.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "Custom Sonang Section",
    "tag": "section",
    "class": "sonang",
    "settings": [
      {
        "type": "image_picker",
        "label": "hero",
        "id": "hero"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "title",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          }
        ]
      }, {
        "type": "description",
        "name": "description",
        "settings": [
          {
            "type": "text",
            "label": "Description",
            "id": "description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Sonang Section",
        "blocks": [
          {
            "type": "title"
          }, {
            "type": "description"
          }
        ]
      }
    ]
  }
{% endschema %}